.cleafix:after {
  content: "";
  display: table;
  clear: both;
}
.main_block {
  width: 100%;
  float: left;
}
html,
body {
  width: 100%;
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
a,
button,
input {
  color: inherit;
}
a:hover,
button:hover,
input:hover,
a:focus,
button:focus,
input:focus,
a:active,
button:active,
input:active {
  color: inherit;
  outline: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
.center {
  position: relative;
  display: block;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Ubuntu", sans-serif;
}
ul,
ol,
p {
  padding: 0;
  margin: 0;
}
.col-md-4-4 {
  width: 37.5%;
}
.custom-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  height: 75px;
  background-color: #070f12;
}
.header__logo {
  padding-top: 23px;
}
.header__logo img {
  width: 220px;
  height: 25px;
  max-width: 100%;
  object-fit: contain;
}
.content {
  padding: 100px 0;
  font-family: "Ubuntu", sans-serif;
}
.content__form .row {
  margin-left: -5px;
  margin-right: -5px;
}
.content__form .row > div {
  padding: 0 5px;
  position: relative;
}
.content__form .pretty {
  margin: 15px 0 20px;
  width: 100%;
}
.content__form .pretty .state {
  width: 100%;
  display: inline-block;
}
.content__form .pretty .state label:before {
  border-color: #3fbfad;
  margin-right: 10px;
}
.content__form .pretty .state label:after,
.content__form .pretty .state label:before {
  content: '';
  width: -webkit-calc(1em + 10px);
  width: -moz-calc(1em + 10px);
  width: calc(1em + 10px);
  height: -webkit-calc(1em + 10px);
  height: -moz-calc(1em + 10px);
  height: calc(1em + 10px);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.content__form .pretty .state span {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  color: #737373;
  padding-left: 10px;
  line-height: 18px;
  display: block;
  padding-left: 35px;
  white-space: normal;
  line-height: 1.6;
}
.content__form .prettyWrapper {
  margin-bottom: 10px;
}
.content__form .pretty input {
  width: 25px;
  height: 25px;
}
.content__form .pretty.p-default:not(.p-fill) input:checked ~ .state.p-info-o label:after {
  background-color: #3fbfad !important;
  background-image: url("../images/arrow-checkbox-icon.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}
.content__form .pretty input:checked ~ .state.p-info-o label:before,
.content__form .pretty.p-toggle .state.p-info-o label:before {
  border-color: #3fbfad !important;
}
.content__form h1 {
  font-size: 36px;
  color: #070f12;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: bold;
}
.content__form h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 25px;
  color: #231f20;
}
.content__form p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.9;
  color: #737373;
}
.content__form a {
  color: #3fbfad;
  text-decoration: underline;
}
.content__form a:hover {
  text-decoration: none;
}
.content__phone img {
  max-width: 100%;
}
.content form label {
  font-size: 18px;
  margin-bottom: 15px;
  color: #231f20;
  font-weight: 400;
}
.content form > label:not(:first-child) {
  margin-top: 30px;
}
.content form input {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  background-color: white;
  color: #737373;
  padding: 0 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #b8b8b8;
  margin-bottom: 12px;
  box-shadow: none;
  -webkit-appearance: none;
}
.content form input::-moz-placeholder {
  color: #737373;
  opacity: 1;
}
.content form input:-ms-input-placeholder {
  color: #737373;
}
.content form input::-webkit-input-placeholder {
  color: #737373;
}
.content form input[disabled] {
  background-color: white !important;
  color: inherit;
}
.content form button {
  height: 70px;
  line-height: 65px;
  font-size: 24px;
  color: #a1a1a1;
  font-weight: 300;
  text-transform: uppercase;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -khtml-border-radius: 35px;
  border-radius: 35px;
  background-color: #d8d8d8;
  width: 240px;
  text-align: center;
  margin: 45px auto 0;
  display: block;
  border: none;
  padding-top: 0;
}
.content form button:hover {
  background-color: #e5e5e5;
}
.content .customWrapper .select2-container {
  position: absolute;
  top: 2px;
  left: 7px;
  width: 80px !important;
  z-index: 2;
}
.content .customWrapper .select2-container .select2-selection--single {
  border: none !important;
  height: 32px;
}
.content .customWrapper input {
  padding-left: 85px;
}
.content .unitsWrapper__field {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  background-color: white;
  color: #737373;
  padding: 0 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #b8b8b8;
  margin-bottom: 12px;
  box-shadow: none;
}
.content .unitsWrapper .select2-container {
  position: absolute;
  top: 2px;
  right: 7px;
  width: 50px !important;
  z-index: 2;
}
.content .unitsWrapper .select2-container .select2-selection--single {
  border: none !important;
  height: 32px;
}
.content .unitsWrapper input {
  padding-right: 55px;
}
.content .select2-container {
  width: 100% !important;
  margin-bottom: 12px;
}
.content .select2-container .select2-search {
  display: none !important;
}
.content .select2-container .select2-selection--single {
  height: 35px;
}
.content .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
  color: #737373;
  font-size: 16px;
}
.content .select2-container .select2-selection--single .select2-selection__arrow {
  height: 100%;
  line-height: 25px;
}
.content .select2-container .select2-selection--single .select2-selection__arrow b {
  height: 8px;
  width: 13px;
  margin-left: -10px;
  margin-top: -4px;
  border: none;
  background-color: transparent;
  background: url("../images/arrow-icon.png") no-repeat center;
}
.content .ethereumField {
  position: relative;
  display: block;
}
.content .ethereumField input {
  padding-left: 35px;
}
.content .ethereumField:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 15px;
  height: 24px;
  background: url("../images/ethereum-icon.png") no-repeat center / cover;
}
.flagIcon {
  width: 20px;
  height: 18px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.error {
  border-color: #B84829 !important;
}
.errorMessage {
  font-size: 14px;
  color: #B84829;
  padding: 0 10px;
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  display: block;
}
@media screen and (max-width: 767px) {
  .content {
    padding: 50px 0;
  }
  .content form input {
    font-size: 14px;
  }
  .content form label {
    font-size: 16px;
  }
  .content form button {
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
  }
  .content .unitsWrapper__field {
    font-size: 14px;
  }
  .content .acceptCheckbox label span {
    font-size: 14px;
  }
  .content__form h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .content__form h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .content__form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .content .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
  }
  .content .pretty .state label:before,
  .content .pretty .state label:after {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content .pretty .state span {
    top: 0;
  }
  .col-md-4-4 {
    width: 100%;
  }
}
