@import "mixins";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

ul,ol,p {
  padding: 0;
  margin: 0;
}

@header-bg: #070f12;
@subtitle-color: #231f20;
@default-text: #737373;
@active-color: #3fbfad;
@border-color: #b8b8b8;


.col-md-4-4 {
  width: 37.5%;
}
.custom {
  &-container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.header {
  height:75px;
  background-color: @header-bg;
  &__logo {
    padding-top:23px;
    img {
      width: 220px;
      height: 25px;
      max-width: 100%;
      object-fit: contain;
    }
  }
}
.content {
  padding: 100px 0;
  font-family: "Ubuntu", sans-serif;
  &__form {
    .row {
      margin-left: -5px;
      margin-right: -5px;

      > div {
        padding: 0 5px;
        position: relative;
      }
    }
    .pretty {
      margin: 15px 0 20px;
      width: 100%;
      .state {
        width: 100%;
        display: inline-block;
        label {
          &:before {
            border-color: @active-color;
            margin-right: 10px;
          }
          &:after,
          &:before {
            content: '';
            .width-calc(~'1em + 10px');
            .height-calc(~'1em + 10px');
            .border-radius(3px);
          }
        }
        span {
          position: absolute;
          top:5px;
          left:5px;
          font-size: 16px;
          color: @default-text;
          padding-left: 10px;
          line-height: 18px;
          display: block;
          padding-left: 35px;
          white-space: normal;
          line-height: 1.6;
        }
      }
      &Wrapper {
        margin-bottom: 10px;
      }
      input {
        .square(25px);
      }
    }
    .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
      background-color: @active-color !important;
      background-image: url("../images/arrow-checkbox-icon.png");
      background-position: center center;
      background-size: auto;
      background-repeat: no-repeat;
    }
    .pretty input:checked~.state.p-info-o label:before, .pretty.p-toggle .state.p-info-o label:before {
      border-color: @active-color !important;
    }
    h1 {
      font-size: 36px;
      color: @header-bg;
      margin: 0 0 35px;
      text-transform: uppercase;
      font-weight: bold;
    }
    h2 {
      font-size: 24px;
      font-weight: 300;
      margin: 0 0 25px;
      color: @subtitle-color;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 30px;
      line-height: 1.9;
      color: @default-text;
    }
    a {
      color: @active-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &__phone {
    img {
      max-width: 100%;
    }
  }
  form {
    label {
      font-size: 18px;
      margin-bottom: 15px;
      color: @subtitle-color;
      font-weight: 400;
    }
    > label:not(:first-child) {
      margin-top: 30px;
    }
    input {
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      background-color: white;
      color: @default-text;
      .placeholder(@default-text);
      padding: 0 15px;
      .border-radius(5px);
      width: 100%;
      border: 1px solid @border-color;
      margin-bottom: 12px;
      box-shadow: none;
      -webkit-appearance: none;
      &[disabled] {
        background-color: white !important;
        color: inherit;
      }
    }
    button {
      height: 70px;
      line-height: 65px;
      font-size: 24px;
      color: #a1a1a1;
      font-weight: 300;
      text-transform: uppercase;
      .border-radius(35px);
      background-color: #d8d8d8;
      width: 240px;
      text-align: center;
      margin: 45px auto 0;
      display: block;
      border:none;
      padding-top: 0;
      &:hover {
        background-color: lighten(#d8d8d8, 5%);
      }
    }
  }
  .customWrapper {
    .select2-container {
      position: absolute;
      top:2px;
      left:7px;
      width: 80px !important;
      z-index: 2;

      .select2-selection--single {
        border: none !important;
        height: 32px;
      }
    }

    input {
      padding-left: 85px;
    }
  }
  .unitsWrapper {
    &__field {
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      background-color: white;
      color: @default-text;
      padding: 0 15px;
      .border-radius(5px);
      width: 100%;
      border: 1px solid @border-color;
      margin-bottom: 12px;
      box-shadow: none;
    }
    .select2-container {
      position: absolute;
      top:2px;
      right:7px;
      width: 50px !important;
      z-index: 2;

      .select2-selection--single {
        border: none !important;
        height: 32px;
      }
    }
    input {
      padding-right: 55px;
    }
  }
  .select2-container {
    width: 100% !important;
    margin-bottom: 12px;

    .select2-search {
      display: none !important;
    }

    .select2-selection--single {
      height: 35px;

      .select2-selection__rendered {
        line-height: 32px;
        color: @default-text;
        font-size: 16px;
      }
      .select2-selection__arrow {
        height: 100%;
        line-height: 25px;

        b {
          height: 8px;
          width: 13px;
          margin-left: -10px;
          margin-top: -4px;
          border:none;
          background-color: transparent;
          background: url("../images/arrow-icon.png") no-repeat center;
        }
      }
    }
  }
  .ethereumField {
    position: relative;
    display: block;

    input {
      padding-left: 35px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 10px;
      width: 15px;
      height: 24px;
      background: url("../images/ethereum-icon.png") no-repeat center / cover;
    }
  }
}
.flagIcon {
  width: 20px;
  height: 18px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.error {
  border-color: #B84829 !important;
  &Message {
    font-size: 14px;
    color: #B84829;
    padding: 0 10px;
    margin-bottom: 10px;
    position: relative;
    top:-5px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 50px 0;
    form {
      input {
        font-size: 14px;
      }
      label {
        font-size: 16px;
      }
      button {
        height: 60px;
        line-height: 55px;
        font-size: 20px;
        .border-radius(30px);
      }
    }
    .unitsWrapper__field {
      font-size: 14px;
    }
    .acceptCheckbox {
      label span {
        font-size: 14px;
      }
    }
    &__form {
      h1 {
        font-size: 26px;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    .select2-container {
      .select2-selection--single {
        .select2-selection__rendered {
          font-size: 14px;
        }
      }
    }
    .pretty {
      .state {
        label {
          &:before, &:after {
            position: absolute;
            top:0;
            left:0;
          }
        }
        span {
          top:0;
        }
      }
    }
  }
  .col-md-4-4 {
    width: 100%;
  }
}