<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="images/flags/flags.min.css">
    <link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link href="bower_components/pretty-checkbox/dist/pretty-checkbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/select2/dist/js/select2.min.js"></script>
</head>
<body>
<header class="header">
    <div class="custom-container">
        <div class="row">
            <div class="header__logo col-xs-12">
                <a href="/">
                    <img src="images/sirin-logo.svg" alt="SirinLabs logo">
                </a>
            </div>
        </div>
    </div>
</header>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="content__form col-sm-7 col-xs-12">
                <h1>pre-order program</h1>
                <h2>FINNEY™ Smartphone</h2>
                <p>
                    Please, apply to the FINNEY™ pre-order program by submitting this form.
                    Program participants, who deposit a down payment in SRN tokens, are eligible to 10% discounted FINNEY™ price. For more details, please, refer to pre-order program <a href="#">Terms & Conditions</a>.
                </p>

                <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                    <input type=hidden name="oid" value="00D58000000Jehp">
                    <input type=hidden name="retURL" value="https://sirinlabs.com/">
                    <label>Personal information:</label>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">
                            <select class="basicSelect" id="salutation" name="salutation" required="required">
                                <option value="Mr." selected="selected">Mr.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Prof.">Prof.</option>
                            </select>
                        </div>
                        <div class="col-md-5 col-xs-8">
                            <input id="first_name" maxlength="40" name="first_name" size="20" type="text" placeholder="First name" required="required">
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <input id="last_name" maxlength="80" name="last_name" size="20" type="text" placeholder="Last name" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="customWrapper col-md-6 col-xs-12">
                            <!-- TODO: other icons - https://www.iconfinder.com/iconsets/flags_gosquared -->
                            <select class="countryNumber" name="countryNumber">
                                <option value="GB" data-foo="bar" selected="selected">
                                    GB
                                </option>
                                <option value="US" data-foo="bar">
                                    US
                                </option>
                                <option value="DE" data-foo="bar">
                                    DE
                                </option>
                            </select>
                            <input id="phone" maxlength="40" name="phone" size="20" type="text" name="phoneNumber" placeholder="Phone number">
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <input id="email" maxlength="80" name="email" size="20" type="text" placeholder="Email address">
                        </div>
                    </div>

                    <label>Order information:</label>
                    <div class="row">
                        <div class="col-md-4 col-xs-7">
                            <div class="unitsWrapper">
                                <div class="unitsWrapper__field">
                                    # of units
                                </div>
                                <select class="basicSelect" name="unitsSelect" required="required">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-10">
                            <span class="ethereumField">
                                <input id="00N5800000DCmys" maxlength="200" name="00N5800000DCmys" size="20" type="text" class="ethereumField error" placeholder="Ethereum wallet address" required="required">
                                <span class="errorMessage">Do not send funds from an exchange account</span>
                            </span>
                        </div>
                    </div>

                    <label>Billing information:</label>
                    <div class="row">
                        <div class="col-md-4-4 col-xs-12">
                            <input id="country" maxlength="40" name="country" size="20" type="text" placeholder="Country" required="required">
                        </div>
                        <div class="col-md-4-4 col-xs-12">
                            <input id="city" maxlength="40" name="city" size="20" type="text" placeholder="City" required="required">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input id="zip" maxlength="20" name="zip" size="20" type="text" placeholder="Zip-code" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <input type="text" name="addressFiled" placeholder="Address" required="required">
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <input id="company" maxlength="40" name="company" size="20" type="text" placeholder="Company (optional)">
                        </div>
                    </div>

                    <label>Shipping information:</label>
                    <div class="row">
                        <div class="prettyWrapper col-xs-12">
                            <div class="pretty p-default">
                                <input type="checkbox" />
                                <div class="state p-info-o">
                                    <label></label>
                                    <span>Same as billing information</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4-4 col-xs-12">
                            <input id="00N5800000DCn00" maxlength="150" name="00N5800000DCn00" size="20" type="text" placeholder="Country" required="required">
                        </div>
                        <div class="col-md-4-4 col-xs-12">
                            <input id="00N5800000DCn05" maxlength="150" name="00N5800000DCn05" size="20" type="text" placeholder="City" required="required">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input id="00N5800000DCn0F" maxlength="100" name="00N5800000DCn0F" size="20" type="text" placeholder="Zip-code" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <input id="00N5800000DCn0A" maxlength="200" name="00N5800000DCn0A" size="20" type="text" placeholder="Address" required="required">
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" name="cityFiledBilling" placeholder="Company (optional)">
                        </div>
                    </div>

                    <label class="hidden">Lead source</label>
                    <div class="row hidden">
                        <div class="col-xs-12">
                            <select class="basicSelect" id="lead_source" name="lead_source" required="required">
                                <option value="FINNEY" selected="selected">FINNEY</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="acceptCheckbox col-xs-12">
                            <div class="pretty p-default">
                                <input id="00N5800000DCmyx" name="00N5800000DCmyx" type="checkbox" value="1" checked="checked" required="required"/>
                                <div class="state p-info-o">
                                    <label></label>
                                    <span>By submitting this form I accept pre-order program <a href="/">Terms & Conditions</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" name="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content__phone col-sm-5 hidden-xs">
                <img src="images/phone-image.png" alt="Phone image">
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function() {
        $('.basicSelect').select2({minimumResultsForSearch: Infinity});


        function format(state) {
            if (!state.id) return state.text; // optgroup
            return $("<span><img class='flag flag-" + state.element.value.toLowerCase() + "'/>"+ state.text +"</span>");
        }
        $(".countryNumber").select2({
            minimumResultsForSearch: Infinity,
            templateResult: format,
            formatSelection: format
//            escapeMarkup:
        });
    });
</script>
</body>
</html>